{% extends 'base.html.twig' %}

{% block title %}New CmsOperator{% endblock %}

{% block body %}
    <h1>Create new CmsOperator</h1>

    {{ include('cms_operator/_form.html.twig') }}

    <a href="{{ path('cms_operator_index') }}">back to list</a>
{% endblock %}
