{% extends 'base.html.twig' %}

{% block title %}New GoGoWork{% endblock %}

{% block body %}
    <h1>Create new GoGoWork</h1>

    {{ include('go_go_work/_form.html.twig') }}

    <a href="{{ path('go_go_work_index') }}">back to list</a>
{% endblock %}
