{% extends 'base.html.twig' %}

{% block title %}New BnrCompany{% endblock %}

{% block body %}
    <h1>Create new BnrCompany</h1>

    {{ include('bnr_company/_form.html.twig') }}

    <a href="{{ path('bnr_company_index') }}">back to list</a>
{% endblock %}
